[submodule "opensoc-streaming"]
	path = opensoc-streaming
	url = https://github.com/OpenSOC/opensoc-streaming.git
[submodule "opensoc-ui"]
	path = opensoc-ui
	url = https://github.com/OpenSOC/opensoc-ui.git
